{% block content %}
    <tr>
        <th>Номер</th>
        <th>Цена</th>
        <th>Создано</th>
        <th>Изменено</th>
        <th>&nbsp;</th>
    </tr>
    {% for account in accounts %}
        <tr>
            <td><a href="/operator/account/{{ account.id }}"> {{ account.id }}</a></td>
            <td>{{ (account.price / 100)|number_format(2, ',', ' ') }}</td>
            <td>{{ account.createdAt|date("d.m.Y") }}</td>
            <td>{{ account.updatedAt|date("d.m.Y") }}</td>
            <td>{{ form(forms[account.stringId].createView) }}</td>
        </tr>
    {% endfor %}
{% endblock %}
