{% block content %}
    <tr>
        <th>Номер</th>
        <th>Владелец</th>
        <th>Игра</th>
        <th>Внешний ID</th>
        <th>Задача</th>
        <th>Статус</th>
        <th>Цена</th>
        <th>Создано</th>
        <th>Изменено</th>
    </tr>
    {% for account in accounts %}
        <tr>
            <td><a href="/operator/account/{{ account.id }}"> {{ account.id }}</a></td>
            <td>
                {% if account.owner is defined and account.owner is not empty %}
                    {{ account.owner.fioUsername}}
                {% endif %}
            </td>
            <td>{{ account.game.name }}</td>
            <td>{{ account.externalId }}</td>
            <td><a href="/operator/task/{{ account.task.id }}">{{ account.task }}</a></td>
            <td>{{ account.statusName }}</td>
            <td>{{ (account.price / 100)|number_format(2, ',', ' ') }}</td>
            <td>{{ account.createdAt|date("d.m.Y") }}</td>
            <td>{{ account.updatedAt|date("d.m.Y") }}</td>
        </tr>
    {% endfor %}
{% endblock %}
