{% block content %}
    <tr>
        <th>Номер</th>
        <th>Аккаунт</th>
        <th>Логин</th>
        <th>Тестовый</th>
        <th>Активен</th>
        <th>Годен До</th>
        <th>Создано</th>
        <th>Изменено</th>
    </tr>
    {% for credential in account.credentials %}
        <tr>
            <td><a href="/operator/credential/{{ credential.id }}"> {{ credential.id }}</a></td>
            <td>{{ credential.account }}</td>
            <td>{{ credential.username }}</td>
            <td>
                {% if credential.isTest %}
                    <span class="badge bg-secondary">Тестовый</span>
                {% else %}
                    <span class="badge bg-success">Рабочий</span>
                {% endif %}
            </td>
            <td>
                {% if credential.isActive %}
                    <span class="badge bg-success">+</span>
                {% else %}
                    <span class="badge bg-secondary">-</span>
                {% endif %}
            </td>
            <td>
                {% if credential.validTill %}
                    {{ credential.validTill|date("d.m.Y") }}
                {% else %}
                   Бессрочный
                {% endif %}
            </td>
            <td>{{ credential.createdAt|date("d.m.Y") }}</td>
            <td>{{ credential.updatedAt|date("d.m.Y") }}</td>
        </tr>
    {% endfor %}
{% endblock %}
