{% block content %}
    <tr>
        <th>Номер</th>
        <th>Название</th>
        <th>Оператор</th>
        <th>Тип</th>
        <th>Аккаунт</th>
        <th>Крайний срок</th>
        <th>Статус</th>
        <th>Создано</th>
        <th>Изменено</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <td><a href="/manager/task/{{ task.id }}"> {{ task.id }}</a></td>
            <td>{{ task.name }}</td>
            <td>
                <form class="inline_elem" method="post">
                    <input type="hidden" name="task" value="{{ task.id }}">
                        <select class="form-select" name="operator">
{#                            <option selected>Не выбран</option>#}
                            {% for operator in operators %}
                                <option value="{{ operator.id }}">
                                    {{ operator.firstName ~ " " ~ operator.lastName  ~ " " ~ operator.username }}
                                </option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Предложить</button>

                </form>


            </td>
            <td>{{ task.type.name }}</td>
            <td>
                {% if task.account is defined and task.account is not empty %}
                    {{ task.account.id }}
                {% endif %}
            </td>
            <td>{{ task.deadLine|date("d.m.Y") }}</td>
            {# <td>{{ dump(constant('App\\Entity\\Task::STATUS_REJECTED')) }}</td> #}
            <td>{{ task.statusName }}</td>
            <td>{{ task.createdAt|date("d.m.Y") }}</td>
            <td>{{ task.updatedAt|date("d.m.Y") }}</td>
        </tr>
    {% endfor %}
{% endblock %}
