{# {% extends 'base.html.twig' %} #}
{% extends 'games.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Данные задачи
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3"><b>Название</b></div>
                        <div class="col-9">{{ task.name }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3"><b>Тип</b></div>
                        <div class="col-9">{{ task.type }}</div>
                    </div>
                    <div class="row">
                        <div class="col-3"><b>Крайний срок</b></div>
                        <div class="col-9">{{ task.deadLine|date("d.m.Y H:i") }}</div>
                    </div>
                    <div class="row">
                        <div class="col-12"><b>Описание</b></div>
                    </div>
                    <div class="row">
                        <div class="col-9">{{ task.description }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    Назначения
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            Статус задачи <span class="badge bg-primary">{{ task.statusName }}</span>
                            {{ form(form_task_reject) }}
                            {% if task.status == constant('App\\Entity\\Task::STATUS_OFFERED') %}
                                {{ form(form_task_accept) }}
                            {% elseif  task.status == constant('App\\Entity\\Task::STATUS_IN_WORK') %}
                                {{ form(form_task_done) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
{#                <div class="card-footer">#}

{#                </div>#}
            </div>

        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            Аккаунты по задаче {{ task }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                {% include 'units/account_operator.html.twig'  with {'accounts': task.accounts} %}
            </table>
        </div>
    </div>

{% endblock %}
